%heading {
  font-weight: 900;
  font-size: 48px;
  color: #fff;

  @media (max-width: $tabletBreakPoint) {
    font-size: 42px;
  }

  @media (max-width: $mobileBreakPoint) {
    font-size: 36px;
  }
}
