@mixin hover($_property, $_toValue) {
  transition: #{$_property} 0.3s;
  &:hover {
    #{$_property}: $_toValue;
  }
}

@mixin line {
  content: "";
  position: absolute;
  bottom: -14px;
  left: 0;
  width: 90%;
  height: 4px;
  background-color: $styleColor;
}
